[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/nerdtree_plugin/toritori0318_vim-nerdtree-plugin"]
	path = .vim/nerdtree_plugin/toritori0318_vim-nerdtree-plugin
	url = git://github.com/toritori0318/vim-nerdtree-plugin.git
[submodule "neobundle.vim"]
	path = neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
