;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; taketin's .gitconfig                                                          ;
;              _    __                                ____   _                  ;
;    ____ _   (_)  / /_    _____   ____     ____     / __/  (_)  ____ _         ;
;   / __ `/  / /  / __/   / ___/  / __ \   / __ \   / /_   / /  / __ `/         ;
;  / /_/ /  / /  / /_    / /__   / /_/ /  / / / /  / __/  / /  / /_/ /          ;
;  \__, /  /_/   \__/    \___/   \____/  /_/ /_/  /_/    /_/   \__, /           ;
; /____/                                                      /____/            ;
;                                                                               ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[include]
    path = .gitconfig.local
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    grep = auto
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[diff]
    tool = meld
    guitool = meld
    indentHeuristic = true
    # a/ b/ を消す
    noprefix = true
[diff "json"]
    textconv = "jq ."
[http]
    sslVerify = false
[alias]
    a  = add
    aa = reset HEAD
    back = checkout HEAD --
    cb = ! git branch | grep -e '^\\* ' | sed -e 's/^\\* //g'
    co = checkout
    ci = commit -m
    gr = grep --line-number --show-function --color --heading --break
    wip = commit --allow-empty -m
    p = push
    pl = !git pull && git submodule update --init
    plf = !git fetch && git reset --hard origin/`git rev-parse --abbrev-ref HEAD`
    d = diff
    da = diff --staged
    dc = difftool --cached
    dh = difftool -d HEAD
    di = difftool -d
    dm = diff master
    s = status --short --branch
    so = remote show origin
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    l = log --decorate
    lp = log --decorate --stat --patch
    ls = ls-files
    dn = diff --name-only
    cancel = reset --soft HEAD^
    cancel-hard = reset --hard HEAD^
    amend = commit --amend -C HEAD
    mamend = commit --amend -m
    cd = checkout develop
    cm = checkout master
    fe = fetch --prune
    ff = flow feature
    ffs = flow feature start
    fff = flow feature finish
    frs = flow release start
    frf = flow release finish
    pull-f = !git fetch && git reset --hard origin/$(git cb)
    rank = shortlog -s -n --no-merges
    wt = worktree

    # submodule 更新
    subupdate = submodule foreach "git checkout master; git pull"

    # mergeの際にconflictが起きたファイルを編集
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"

    # mergeの際にconflictが起きたファイルをadd
    add-unmerged  = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
[core]
    excludesfile = /Users/takeshitahidenori/.gitignore
    editer = vi
    quotepath = false
    pager = "nkf -w"
    editor = vim -c \"set fenc=utf-8\"
    autocrlf = input
    # Mac で濁点入り日本語を扱える
    precomposeunicode = true
[push]
    default = current
[mergetool]
    keepBackup = false
[ghq]
    root = ~/ghq/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
