;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; taketin's .gitconfig                                                          ;
;              _    __                                     ____   _             ;
;    ____ _   (_)  / /_    _____   ____     ____     / __/  (_)  ____ _         ;
;   / __ `/  / /  / __/   / ___/  / __ \   / __ \   / /_   / /  / __ `/         ;
;  / /_/ /  / /  / /_    / /__   / /_/ /  / / / /  / __/  / /  / /_/ /          ;
;  \__, /  /_/   \__/    \___/   \____/  /_/ /_/  /_/    /_/   \__, /           ;
; /____/                                                           /____/       ;
;                                                                               ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


[user]
    name = taketin
    email = tksthdnr@gmail.com
[github]
    user = taketin
    token = 9c1009e39c5f14564a901bdc778af74e
[color]
    ui = auto
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[alias]
    co = checkout
    back = checkout HEAD --
    a  = add
    aa = reset HEAD
    ci = commit -m
    ps = push
    pl = !git pull && git submodule update --init
    di = diff
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    ls = log --stat
    dn = diff --name-only
    cancel = reset --soft HEAD^
    cancel-hard = reset --hard HEAD^
    amend = commit --amend -C HEAD
    mamend = commit --amend -m
    cdev = checkout develop
    cmas = checkout master
    ff = flow feature
    ffs = flow feature start
    fff = flow feature finish
    frs = flow release start
    frf = flow release finish
[core]
    excludesfile = ~/.gitignore
    editer = vi
[push]
    default = matching
