;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; taketin's .gitconfig                                                          ;
;              _    __                                ____   _                  ;
;    ____ _   (_)  / /_    _____   ____     ____     / __/  (_)  ____ _         ;
;   / __ `/  / /  / __/   / ___/  / __ \   / __ \   / /_   / /  / __ `/         ;
;  / /_/ /  / /  / /_    / /__   / /_/ /  / / / /  / __/  / /  / /_/ /          ;
;  \__, /  /_/   \__/    \___/   \____/  /_/ /_/  /_/    /_/   \__, /           ;
; /____/                                                      /____/            ;
;                                                                               ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


[user]
    name = taketin
    email = tksthdnr@gmail.com
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    grep = auto
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[diff]
    # a/ b/ を消す
    noprefix = true
[http]
    sslVerify = false
[alias]
    a  = add
    aa = reset HEAD
    back = checkout HEAD --
    co = checkout
    ci = commit -m
    gr = grep
    wip = commit --allow-empty -m
    ps = push
    pl = !git pull && git submodule update --init
    di = diff
    da = diff --staged
    dm = diff master
    st = status --short --branch
    so = remote show origin
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    ls = log --stat
    dn = diff --name-only
    cancel = reset --soft HEAD^
    cancel-hard = reset --hard HEAD^
    amend = commit --amend -C HEAD
    mamend = commit --amend -m
    cd = checkout develop
    cm = checkout master
    ff = flow feature
    ffs = flow feature start
    fff = flow feature finish
    frs = flow release start
    frf = flow release finish
    rank = shortlog -s -n --no-merges

    # submodule 更新
    subupdate = submodule foreach "git checkout master; git pull"

    # mergeの際にconflictが起きたファイルを編集
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"

    # mergeの際にconflictが起きたファイルをadd
    add-unmerged  = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
[core]
    excludesfile = ~/.gitignore
    editer = vi
    quotepath = false
    pager = "nkf -w"
    editor = vim -c \"set fenc=utf-8\"
    autocrlf = input
    # Mac で濁点入り日本語を扱える
    precomposeunicode = true
[push]
    default = matching
