auto-save-list/
apel/
emu/
.vim_mru_files
.vimfuzzyfinder
*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
tags
*.html.php
*.svn/
.zsh/*cdd_pwd_list*
.zsh/local.zshenv
.tmuxinator/office.yml
.vim/plugged/*
.vim/autoload/*
.vimperator/info/default/local-marks
.vimperator/info/default/macros
._*
.vim/.netrwhist
.config/hub
