<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>14BCCCFD-FBF9-4CA1-927A-EBBD11E78822</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ej</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Google翻訳（英語 &gt; 日本語）</string>
			<key>url</key>
			<string>http://translate.google.co.jp/#en/ja/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>429217B6-4635-4C0D-90CF-77B97444EB43</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ee</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Oxford 英英辞典</string>
			<key>url</key>
			<string>http://www.oxfordlearnersdictionaries.com/definition/english/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5556895A-5628-4B65-9550-C33CDBC327AB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>q</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>search Qiita</string>
			<key>url</key>
			<string>http://qiita.com/search?utf8=%E2%9C%93&amp;sort=&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>58D88F1A-5114-42F0-A0B8-540300806935</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>je</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Google翻訳（日本語 &gt; 英語）</string>
			<key>url</key>
			<string>http://translate.google.co.jp/#ja/en/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6860569F-2ACC-46B1-9EEC-72D6BD00437D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>qs</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>search Qiita tag is Swift</string>
			<key>url</key>
			<string>http://qiita.com/search?utf8=%E2%9C%93&amp;sort=&amp;q=tag%3Aswift+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FC1F8D3D-2BFB-49E6-AB09-6CF3825847F1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>s</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>search Swift document</string>
			<key>url</key>
			<string>https://www.google.co.jp/#q=site:https://developer.apple.com/library/prerelease/ios/documentation/swift/conceptual/swift_programming_language+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
